<table class="size_chart_table table_in_inches active">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span></td>
      <td><span><strong>Length</strong></span></td>
      <td><span><strong>Leg-opening</strong></span></td>
      <td><span><strong>Inseam</strong></span></td>
    </tr>
    <tr>
      <td><span><strong>28</strong></span></td>
      <td><span>17.5</span></td>
      <td><span>21</span></td>
      <td><span>6.5</span></td>
    </tr>
    <tr>
      <td><span><strong>30</strong></span></td>
      <td><span>17.5</span></td>
      <td><span>21</span></td>
      <td><span>6.75</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>17.5</span></td>
      <td><span>22</span></td>
      <td><span>6.75</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>18.5</span></td>
      <td><span>24</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>19</span></td>
      <td><span>25</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>19.5</span></td>
      <td><span>26</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>19.5</span></td>
      <td><span>27</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>42</strong></span></td>
      <td><span>19.75</span></td>
      <td><span>28</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>44</strong></span></td>
      <td><span>19.75</span></td>
      <td><span>28</span></td>
      <td><span>7.75</span></td>
    </tr>
  </tbody>
</table>
<table class="size_chart_table table_in_cm">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span></td>
      <td><span><strong>Length (CM)</strong></span></td>
      <td><span><strong>Leg-opening (CM)</strong></span></td>
      <td><span><strong>Inseam (CM)</strong></span></td>
    </tr>
    <tr>
      <td><span><strong>28</strong></span></td>
      <td><span>44.45</span></td>
      <td><span>53.34</span></td>
      <td><span>16.51</span></td>
    </tr>
    <tr>
      <td><span><strong>30</strong></span></td>
      <td><span>44.45</span></td>
      <td><span>53.34</span></td>
      <td><span>17.15</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>44.45</span></td>
      <td><span>55.88</span></td>
      <td><span>17.15</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>47</span></td>
      <td><span>61</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>48.3</span></td>
      <td><span>63.5</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>49.5</span></td>
      <td><span>66</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>49.5</span></td>
      <td><span>68.6</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>42</strong></span></td>
      <td><span>50.2</span></td>
      <td><span>71.1</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>44</strong></span></td>
      <td><span>50.2</span></td>
      <td><span>71.1</span></td>
      <td><span>19.7</span></td>
    </tr>
  </tbody>
</table>